.config-menu {
  /* background: yellow; */
  position: fixed;
  width: 16vw;
  max-height: 70vh;
  top: 7.8rem;
  /* padding: 1rem; */
  margin: 0.4rem;
  /* overflow-y: scroll; */
}

.toc-header {
  position: sticky;
  height: 100px;
  top: -10px;
  width: 100%;
  background: rgb(35 54 89);
}

.toc-header h1 {
  text-align: center;
  padding-top: 2rem;
  color: whitesmoke;
}

.config-menu nav {
  max-height: 70vh;
  overflow-y: scroll;
  padding: 2rem;
}

.main-content {
  position: relative;
  left: 17vw;
  top: 13rem;
  width: 82vw;
  /* background-color: orange; */
  min-height: 100vh;
}

.main-content .div-sections {
  /* display: grid;
  gap: 20px; */
  display: grid;
  grid-template-columns: 55% 45%;
  gap: 10px;
}

.content-area,
.code-area {
  padding: 1rem;
}

.code-area {
  background-color: #343746;
  position: sticky;
}

.code-area > div {
  position: relative;
}
.code-area > div > button {
  top: 1rem;
  position: absolute;
  right: 1rem;
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}

.code-area > div > button span {
  color: rgba(180, 17, 99, 0.863);
}

.code-area > div > button:active {
  background-color: rgb(255, 255, 255);
}

.code-docs {
  padding: 5px;
  font-size: 12px;
  background: #233659;
  line-height: 1.2;
  border-radius: 2px;
  padding: 2rem;
  border: solid 1px white;
  overflow: scroll;
}
.code-docs > code {
  overflow-x: scroll;
}

.code-docs > code {
  position: relative;
  top: 4rem;
  font-size: 1rem;
  color: white;
}

.code-docs > code > .function {
  color: #50d94b;
}

.code-docs > code > .declaratives {
  color: #ff79c6;
}

.code-docs > code > .comments {
  color: #58728b;
}
.code-docs > code > .string {
  color: #f1fa76;
}

.code-docs > code > .const-vars {
  color: #aaa7f8bb;
}

.code-docs > code > .params {
  color: #ffc88ad7;
}

.identifier {
  background-color: #343746;
  box-shadow: var(--all-shadows);
  padding: 0.5rem;
  color: yellow;
  font-size: 1.2rem;
  position: absolute;
  border: 1px solid rgba(255, 255, 255, 0.247);
  top: 1rem;
  border-radius: 5px;
  left: 1rem;
}
