.config-menu {
  /* background: yellow; */
  position: fixed;
  width: 16vw;
  max-height: 70vh;
  top: 7.8rem;
  /* padding: 1rem; */
  margin: 0.4rem;
  /* overflow-y: scroll; */
}

.toc-header {
  position: sticky;
  height: 100px;
  top: -10px;
  width: 100%;
  background: rgb(35 54 89);
}

.toc-header h1 {
  text-align: center;
  padding-top: 2rem;
  color: whitesmoke;
}

.config-menu nav {
  max-height: 70vh;
  overflow-y: scroll;
  padding: 2rem;
}

.main-content {
  position: relative;
  left: 17vw;
  top: 13rem;
  width: 82vw;
  /* background-color: orange; */
  min-height: 100vh;
}

.main-content .div-sections {
  /* display: grid;
  gap: 20px; */
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.content-area,
.code-area {
  padding: 1rem;
}

.code-area {
  background-color: rgb(35 54 89);
  position: sticky;
}
