.config-menu {
  position: fixed;
  width: 23vw;
  max-height: 70vh;
  top: 7.8rem;
  margin: 0.4rem;
}

.side-toc-icon span {
  font-size: 3.2rem;
  position: fixed;
  top: 10rem;
  z-index: 6;
  background: #f1fa76;
  margin: 1rem;
  border-radius: 3px;
  cursor: pointer;
  display: none;
}

.config-menu nav ul li {
  list-style: none;
  padding-top: 1rem;
}

.config-menu nav ul li a {
  color: rgb(238, 178, 178);
  border-bottom: none;
  padding-bottom: 1rem;
}

.toc-header {
  position: sticky;
  height: 100px;
  top: -10px;
  width: 100%;
  background: rgb(35 54 89);
}

.toc-header h1 {
  text-align: center;
  padding-top: 2rem;
  color: whitesmoke;
}

.config-menu nav {
  background: #343746;
  max-height: 70vh;
  overflow: scroll;
  padding: 1rem;
  margin-bottom: 20rem;
}

.main-content {
  position: relative;
  left: 25vw;
  top: 13rem;
  width: 82vw;
  min-height: 100vh;
}

.main-content .div-sections {
  display: grid;
  grid-template-columns: 55% 45%;
  gap: 10px;
}

.content-area,
.code-area {
  padding: 1rem;
}

.code-area {
  background-color: #343746;
}

.code-area > div {
  position: relative;
}
.code-area > div > button {
  top: 1rem;
  position: absolute;
  right: 1rem;
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.code-area > div > button span {
  color: rgba(180, 17, 99, 0.863);
}

.code-area > div > button:active {
  background-color: rgb(255, 255, 255);
}

.code-docs {
  padding: 5px;
  font-size: 12px;
  background: #233659;
  line-height: 1.2;
  border-radius: 2px;
  padding: 2rem;
  border: solid 1px white;
  overflow: scroll;
}
.code-docs > code {
  overflow-x: scroll;
}

.code-docs > code {
  position: relative;
  top: 4rem;
  font-size: 1rem;
  color: white;
}

.code-docs > code > .function {
  color: #50d94b;
}

.code-docs > code > .declaratives {
  color: #ff79c6;
}

.code-docs > code > .comments {
  color: #58728b;
}
.code-docs > code > .string {
  color: #f1fa76;
}

.code-docs > code > .const-vars {
  color: #aaa7f8bb;
}

.code-docs > code > .params {
  color: #ffc88ad7;
}

.identifier {
  background-color: #343746;
  box-shadow: var(--all-shadows);
  padding: 0.5rem;
  color: yellow;
  font-size: 1.2rem;
  position: absolute;
  border: 1px solid rgba(255, 255, 255, 0.247);
  top: 1rem;
  border-radius: 5px;
  left: 1rem;
  z-index: 1;
}

@media screen and (max-width: 1300px) {
  /* .config-menu {
    display: none;
  } */

  .config-menu {
    z-index: 4;
    width: 70wv;
    display: none;
    width: 70vw;
    top: -4rem;
  }
  .main-content {
    left: 5rem;
  }

  .side-toc-icon span {
    display: block;
  }

  .main-content .div-sections {
    grid-template-columns: 50% 50%;
  }
}

@media screen and (max-width: 950px) {
  .main-content .div-sections {
    grid-template-columns: 40% 60%;
  }

  h1 {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 800px) {
  .main-content .div-sections {
    display: flex;
    flex-direction: column;
  }

  .code-docs {
    max-height: 50vh;
  }

  .config-menu {
    width: 95vw;
  }
}
