@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

* {
  font-family: "Lato", sans-serif;
  margin: 0;
  box-sizing: border;
  font-size: 1.1rem;
}

body {
  margin: 0;
  width: 100vw;
  background-color: whitesmoke;
  overflow-x: hidden;
}

main {
    max-width: 720px;
    margin: 0 auto;
}

img {
    position: relative;
    margin: 1rem 0;
    left: 0;
    width: 100%;
}